{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="{% static 'icons/icon2.png' %}" sizes="32x32" type="image/png">
      {% bootstrap_css %}
      
      <style>
        body {
            background-color: #f3f4f6 !important;
        }
      </style>

      <title>Login</title>

  </head>

  <body class="bg-gray-200 d-flex flex-column min-vh-100">

    <div class="container flex-grow-1 d-flex flex-column justify-content-center">

          <div class="row justify-content-center w-100">
              <div class="col-xl-10 col-lg-12 col-md-9">
                  <div class="card o-hidden border-0 shadow-lg my-5">
                      <div class="card-body p-0">
                          <div class="row no-gutters border rounded-3">
                              <div class="col-lg-6 d-flex align-items-center justify-content-center bg-white">
                                  <img src="{% static 'images/undraw_Projections.png' %}" alt="Login Image" class="img-fluid p-4" style="max-height: 400px;">
                              </div>
                              <div class="col-lg-6">
                                  <div class="p-5">
                                      <div class="text-center">
                                          <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                      </div>
                                      <form class="user" method="POST" action="{% url 'login' %}">
                                          {% csrf_token %}
                                          {% bootstrap_form form %}
                                          <button type="submit" class="btn btn-block btn-primary mt-4">Entrar</button>
                                      </form>
                                      <hr class="my-4">
                                      <div class="text-center">
                                          <a class="small text-decoration-none" href="{% url 'register' %}">Criar uma conta!</a>
                                      </div>
                                  </div>
                              </div> 
                          </div> 
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <footer class="mt-auto bg-white py-4 shadow-sm">
          <div class="container">
              <div class="text-muted text-center">Copyright &copy; {% now 'Y' %} MyFinance todos os direitos reservados.</div>
          </div>
      </footer>
  
    {% bootstrap_javascript jquery='full' %}

  </body>
</html>